@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .b {
  	@apply border border-2 border-yellow-500;
  }
  .bb {
  	@apply border border-4 border-orange-500;
  }
  .BLUE {
  	@apply border border-8 border-blue-400;
  }
  .noto{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
